 #second-line {
  margin-top: -4px;
  color: #924526;

}
#se-p{
  margin-top: 10px;
  font-size: 20px;
}

.se-icone a{
  color: rgb(185, 179, 179);
  font-size: 30px;
 transition: transform 0.2s ease, color 0.2s ease;

  

}
.se-icone a{
   transform: scale(1.2);
}
.se-icone button{
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  position: relative;
  bottom: 8px;
}

button:hover {
  background-color:  #924526;
  box-shadow: 0px 15px 20px rgba(146, 130, 116, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}