/* ASSIGNMENTS SECTION */

.assignments {
  margin: 60px 0;
}

.ascard {
  width: 100%;
  max-width: clamp(400px, 50vw, 630px);
  height: clamp(250px, 25vw, 290px);
  border-radius: 9px;
  background: #212121;
  display: flex;
  gap: 10px;
  padding: 0.4em;
  margin: 0 auto;
}

.ascard p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  background: #212121;
  border: 4px solid #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ascard p:hover {
  flex: 4;
}

.ascard p span {
  min-width: 14em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: clamp(10px, 1vw, 14px);
}

.ascard p:hover span {
  transform: rotate(0);
}

.ascard p span a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, transform 0.3s;
}

.ascard p span a:hover {
  color: #924526;
  transform: scale(1.1);
}